::backdrop {
  background-color: #504d4d;
  opacity: 0.75;
}

.dialog {
  background-color: #1e1e1e;
  border: none;
  border-radius: 16px;
}

.close-btn {
  text-align: right;
}

.btn-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dialog .body {
  padding: 10px 0;
}

.submit-btn {
  text-align: center;
}

.btn-submit {
  background-color: #877eed;
  color: #fff;
  padding: 12px 16px;
  border-radius: 24px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #544acb;
  padding: 12px 16px;
}
