::backdrop {
  background-color: #504d4d;
  opacity: 0.75;
}

.dialog {
  background-color: #1e1e1e;
  border: none;
  border-radius: 16px;
}

.close-btn {
  text-align: right;
}

.btn-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dialog .body {
  padding: 10px 0;
}

.submit-btn {
  text-align: center;
}

.btn-submit {
  background-color: #877eed;
  color: #fff;
  width: 125px;
  height: 48px;
  padding: 16px 12px;
  border-radius: 24px;
  border: none;
}
