.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.empty-state p {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 0;
  color: #fafafa;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
}
